{% extends 'blog/base.html' %}
{% block title %}Scl's Blog{% endblock %}
{% block content_body %}
<div class="main_body">
    {% for blog in blogs %}
    <div class="blog_body">
        <div class="blog_title"><a href="{% url 'blog:detail' blog.id %}">{{blog.caption}}</a></div>
      <div class="blog_info1">
          <span class="blog_info1_list">
              <span class="li_small_1">
                  Classification:{{blog.classification}}</br>
              </span>
              <span class="li_small_1">
                  Publish time:{{blog.publish_time|date:"Y-m-d H:i"}}
              </span>
          </span>
      </div>
      <div class="blog_info2">
          <span class="blog_info2_list">
              <span class="li_small_2">
              Tags:</br>
              {% for tag in blog.tags.all %}
                  {{tag.tag_name}}
              {% endfor %}
              </span>
          </span>
      </div>
      <div class="blog_content">
          {{blog.content}}
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
